.actorImage{
  width: 50px;
}

.my-table * {
  text-align: center;
  border: 1px solid white;
  vertical-align: middle;
  padding: 10px;
}

.my-table img {
  padding: 0px;
  border: none;
}

.my-table th {
  color: white;
}

.my-table{
  margin: 0 auto;
}

.big-title{
  padding: 20px 0;
  font-size: 2em;
  text-align: center;
  color: white;
}

.button-container{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.button-container button{
  width: 100%;
  display: inline-block;
}

body{
  font-size: 1.3em;
  background: -webkit-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* W3C */
  min-height: 100vh;
}